<section>
  <div class="container">
    <h1>Register form</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <!-- You should use this syntaxe instead of <form formGroupName="registrationForm"> -->
      <!-- Username -->
      <div class="fileds">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Username" formControlName="username" />
        </p-inputGroup>
      </div>
      <div class="Validation">
        @if (username.dirty || username.touched) { @if
        (username.getError("required")) {
        <p-messages
          [value]="[{ severity: 'error', detail: 'You must enter you name' }]"
          [enableService]="false"
          [closable]="false"
        />
        } @if (username.getError("minlength")) {
        <p-messages
          [value]="[
            {
              severity: 'error',
              detail: 'You name must have at least 3 caracters'
            }
          ]"
          [enableService]="false"
          [closable]="false"
        />
        } @if (username.getError("maxlength")) {
        <p-messages
          [value]="[
            {
              severity: 'error',
              detail: 'You name must have at most 20 caracters'
            }
          ]"
          [enableService]="false"
          [closable]="false"
        />
        } }
      </div>
      <!-- Email -->
      <div class="fileds">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-at"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Email" formControlName="email" />
        </p-inputGroup>
      </div>
      <div class="Validation">
        @if (email.dirty || email.touched) { @if (email.getError("required")) {
        <p-messages
          [value]="[{ severity: 'error', detail: 'You must enter your email' }]"
          [enableService]="false"
          [closable]="false"
        />
        } @if (email.getError("email")) {
        <p-messages
          [value]="[
            {
              severity: 'error',
              detail: 'You must enter a valid email address with @example.com'
            }
          ]"
          [enableService]="false"
          [closable]="false"
        />
        } }
      </div>
      <!-- Password -->
      <div class="fileds">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input
            type="password"
            pInputText
            placeholder="Password"
            formControlName="password"
          />
        </p-inputGroup>
      </div>
      <div class="Validation">
        @if (password.dirty || password.touched) { @if
        (password.getError("required")) {
        <p-messages
          [value]="[
            { severity: 'error', detail: 'You must enter your password' }
          ]"
          [enableService]="false"
          [closable]="false"
        />
        } }
      </div>
      <!-- Confirm Password -->
      <div class="fileds">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input
            type="password"
            pInputText
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
        </p-inputGroup>
      </div>
      <div class="Validation">
        @if (confirmPassword.dirty || confirmPassword.touched) { @if
        (confirmPassword.getError("required")) {
        <p-messages
          [value]="[
            { severity: 'error', detail: 'You must re-enter your password' }
          ]"
          [enableService]="false"
          [closable]="false"
        />
        } @if (confirmPassword.getError("noMatch")) {
        <p-messages
          [value]="[{ severity: 'error', detail: 'Passwords do not match' }]"
          [enableService]="false"
          [closable]="false"
        />
        } }
      </div>
      <p-button class="fileds" label="Submit" type="submit" />
      <p-toast />
    </form>
  </div>
</section>
